.header {
    padding: 48px 0 40px 0;
    overflow: hidden;    
    
    .logo { 
        display:block;
        width: 119px;
        margin: 0 auto;
        margin-bottom: 54px;      
    }

    .hero {
        display: block;
        width: 414px;
        transform: translateX(-20px);
        margin-bottom: 48px;
    }

    .header-text {
        padding: 0 24px;
        text-align: center;
        
        h1 {
            color: $colorBlack;
            font-size: 40px;
            font-weight: 900;
            line-height: 44px;
            padding: 0 20px;
            margin-bottom: 24px;
        }

        & > p {
            margin-bottom: 32px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button:first-of-type {
                margin-bottom: 16px;
            }
        }
    }

}
