.main {
    padding: 24px;

    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px 25px;
        margin-bottom: 64px;

        img {
            width: 151px;
            border-radius: 8px;
        }
    }

    .article {
        text-align: center;
        margin-bottom: 40px;

        h5 {
            color: $colorBlueDark;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 24px;
        }

        h2 {
            margin-bottom: 32px;
        }

    }

}