.main {
    padding: 0 24px 24px 24px;
    
    @include media(tablet) {
        padding: 0 39px 40px 40px;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px 25px;
        margin-bottom: 64px;

        img {
            width: 151px;
            border-radius: 8px;
        }

        @include media(tablet) {
            grid-template-columns: 1fr 1fr 1fr 1fr;  
            grid-template-rows: 1fr;
            gap: 11px;  
            margin-bottom: 48px;
            
            img {
                width: 164px;
            }
        }
    }

    .article {
        text-align: center;
        margin-bottom: 40px;

        h5 {
            color: $colorBlueDark;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 24px;
        }

        h2 {
            margin-bottom: 32px;
        }

    }

}