.btn {
    font-size: 16px;
    font-weight: 900;
    color: $colorWhite;
    border: none;
    border-radius: 29px;
    line-height: 26px;
    transition: all 0.3s;

    &--1 {
        background: $colorBlueDark;
        padding: 16px 37px;

        &:hover {
            background: $colorBlue;
        }

        span {
            margin-left: 4px;
            color: $colorBlueLight;
        }
    }

    &--2 {
        background: $colorPurpleDark;
        padding: 16px 27px;

        &:hover {
            background: $colorPurple;
        }
    }

    &--3 {
        background: $colorPurpleDark;
        padding: 16px 37px;

        &:hover {
            background: $colorPurple;
        }

        span {
            margin-left: 4px;
            color: $colorPurpleLight;
        }
    }
}


.heading {    
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    
    &--dark {
        color: $colorBlack;        
    }

    &--light {
        color: $colorWhite; 
    }
}

.page-number {
    height: 140px;
    margin: 0 auto 64px auto;

    @include media(tablet) {
        margin: 0 auto 67px auto;
    }
    
    .line {
        width: 50%;
        height: 100%;
        border-right: 1px solid rgba($colorGray, 0.25);
        position: relative;
    }

    .number {
        position: absolute;
        top: 84px;
        left: 100%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid rgba($colorGray, 0.25);
        transform: translateX(-50%);
        background-color: $colorWhite;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 900;
        }
    }
}