$colorBlueLight: #8FE3F9;
$colorBlue: #71C0D4;
$colorBlueDark: #4D96A9;
$colorPurpleLight: #D9B8FF;
$colorPurple: #B18BDD;
$colorPurpleDark: #855FB1;
$colorBlack: #28283D;
$colorWhite:#FAFAFA;
$colorGray:#87879d;

$background: #F2F2F2;

$fontFamilly: 'Red Hat Display', sans-serif;
$fontSize: 16px;
$fontWeight: 500;
$lineHeight: 26px;

// breaking points
$tabPortrait: 768px;
$tabLandDesktop: 1440px;
