*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: #87879d;
  font-weight: 500;
  line-height: 26px;
  background: #F2F2F2;
}

.container {
  width: 375px;
  background: #FAFAFA;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 900;
  color: #FAFAFA;
  border: none;
  border-radius: 29px;
  line-height: 26px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--1 {
  background: #4D96A9;
  padding: 16px 37px;
}

.btn--1:hover {
  background: #71C0D4;
}

.btn--1 span {
  margin-left: 4px;
  color: #8FE3F9;
}

.btn--2 {
  background: #855FB1;
  padding: 16px 27px;
}

.btn--2:hover {
  background: #B18BDD;
}

.btn--3 {
  background: #855FB1;
  padding: 16px 37px;
}

.btn--3:hover {
  background: #B18BDD;
}

.btn--3 span {
  margin-left: 4px;
  color: #D9B8FF;
}

.heading {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
}

.heading--dark {
  color: #28283D;
}

.heading--light {
  color: #FAFAFA;
}

.page-number {
  height: 140px;
  margin: 0 auto 64px auto;
}

@media only screen and (min-width: 768px) {
  .page-number {
    margin: 0 auto 67px auto;
  }
}

.page-number .line {
  width: 50%;
  height: 100%;
  border-right: 1px solid rgba(135, 135, 157, 0.25);
  position: relative;
}

.page-number .number {
  position: absolute;
  top: 84px;
  left: 100%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FAFAFA;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-number .number p {
  font-weight: 900;
}

.header {
  padding: 48px 0 64px 0;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-bottom: 80px;
  }
}

.header .logo {
  display: block;
  width: 119px;
  margin: 0 auto;
  margin-bottom: 54px;
}

@media only screen and (min-width: 768px) {
  .header .logo {
    margin-bottom: 64px;
  }
}

.header .hero {
  display: block;
  width: 414px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .header .hero {
    width: 820px;
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    margin-bottom: 72px;
  }
}

.header .header-text {
  padding: 0 24px;
  text-align: center;
}

.header .header-text h1 {
  color: #28283D;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  padding: 0 20px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .header .header-text h1 {
    font-size: 48px;
    line-height: 48px;
    padding: 0 200px;
  }
}

.header .header-text > p {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .header .header-text > p {
    padding: 0 150px;
  }
}

.header .header-text .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-text .btn-wrapper button:first-of-type {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .header .header-text .btn-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .header-text .btn-wrapper button:first-of-type {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.main {
  padding: 0 24px 24px 24px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 0 39px 40px 40px;
  }
}

.main .image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 24px 25px;
  margin-bottom: 64px;
}

.main .image-grid img {
  width: 151px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .main .image-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 11px;
    margin-bottom: 48px;
  }
  .main .image-grid img {
    width: 164px;
  }
}

.main .article {
  text-align: center;
  margin-bottom: 40px;
}

.main .article h5 {
  color: #4D96A9;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 24px;
}

.main .article h2 {
  margin-bottom: 32px;
}

.footer {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 169, 0.9))), url("../assets/mobile/image-footer.jpg");
  background-image: linear-gradient(rgba(77, 150, 169, 0.9) rgba(77, 150, 169, 0.9)), url("../assets/mobile/image-footer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 112px;
}

.footer h2 {
  padding: 0 24px;
  margin-bottom: 24px;
}

.footer .footer-text {
  color: #FAFAFA;
  font-size: 18px;
  padding: 0 24px;
  margin-bottom: 32px;
}

.footer .btn--3 {
  margin-bottom: 72px;
}
/*# sourceMappingURL=main.css.map */